# Require someone from the @product or @content team to approve all changes
* @generaltranslation/product @generaltranslation/content

# Require someone from the @admins team to approve changes to code ownership
/.github/CODEOWNERS @generaltranslation/admins
