{
  "openapi": "3.1.0",
  "info": {
    "title": "General Translation API",
    "version": "2026-03-06.v1",
    "description": "Translate content and manage projects with the General Translation API at `https://api.gtx.dev`.\n\nAuthenticate with `Authorization: Bearer <api-key>`. Each endpoint lists its required permissions. Project keys (`gtx-api-`) access one project; Organization keys (`gtx-org-`) access projects in one Organization.\n\nFor project-scoped requests, use the project ID in the path. If you also send `gt-project-id`, it must match. Without a project ID in the path, project keys use their own project; Organization keys require `gt-project-id`. Discovery endpoints need no project ID. Organization-scoped requests use the Organization ID in the path. You must have access to the selected project or Organization.",
    "contact": {
      "name": "General Translation Support",
      "email": "support@generaltranslation.com",
      "url": "https://generaltranslation.com"
    }
  },
  "servers": [
    {
      "url": "https://api.gtx.dev",
      "description": "General Translation API"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, download, publish, move, and inspect project files."
    },
    {
      "name": "Context",
      "description": "Generate translation context such as glossaries and instructions."
    },
    {
      "name": "Context Management",
      "description": "Manage context groups, glossary terms, custom prompts, and project assignments."
    },
    {
      "name": "Translation",
      "description": "Translate content, queue files for translation, and read translation job status."
    },
    {
      "name": "Project",
      "description": "Create and manage projects, assets, branches, and file version tags."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project or organization API key."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ApiVersion": {
        "type": "string",
        "enum": [
          "2025-01-01.v0",
          "2025-11-03.v1",
          "2026-02-18.v1",
          "2026-03-06.v1"
        ],
        "description": "API contract version. Defaults to the oldest supported version."
      },
      "FileFormat": {
        "type": "string",
        "enum": [
          "GTJSON",
          "MDX",
          "JSON",
          "YAML",
          "MD",
          "TS",
          "JS",
          "HTML",
          "TXT",
          "PO",
          "POT",
          "TWILIO_CONTENT_JSON",
          "LOTTIE",
          "SVG",
          "XCSTRINGS",
          "DOT_STRINGS",
          "DOT_STRINGSDICT",
          "ANDROID_STRINGS",
          "SRT",
          "RESX"
        ]
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "JsonValue": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonValue"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ]
      },
      "DataFormat": {
        "type": "string",
        "enum": [
          "JSX",
          "ICU",
          "I18NEXT",
          "STRING"
        ]
      },
      "ModelProvider": {
        "type": "string",
        "enum": [
          "ANTHROPIC",
          "OPENAI",
          "XAI",
          "GOOGLE",
          "HYPERCLOVA"
        ]
      },
      "RuntimeTranslationResponse": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "translation": {
                  "$ref": "#/components/schemas/JsonValue"
                },
                "dataFormat": {
                  "$ref": "#/components/schemas/DataFormat"
                },
                "locale": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "dataFormat",
                "locale"
              ]
            },
            {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "enum": [
                    false
                  ]
                },
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "number"
                }
              },
              "required": [
                "success",
                "error",
                "code"
              ]
            }
          ]
        }
      },
      "RuntimeTranslationRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "source": {},
                "metadata": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "maxChars": {
                      "type": "number"
                    },
                    "dataFormat": {
                      "$ref": "#/components/schemas/DataFormat"
                    },
                    "fileFormat": {
                      "$ref": "#/components/schemas/RuntimeFileFormat"
                    },
                    "actionType": {
                      "type": "string",
                      "enum": [
                        "fast",
                        "standard"
                      ],
                      "default": "fast"
                    },
                    "sourceCode": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "target": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "before",
                            "target",
                            "after"
                          ]
                        }
                      }
                    }
                  },
                  "default": {
                    "dataFormat": "STRING",
                    "actionType": "fast"
                  }
                }
              }
            }
          },
          "targetLocale": {
            "type": "string",
            "minLength": 1
          },
          "sourceLocale": {
            "type": "string",
            "minLength": 1
          },
          "metadata": {
            "type": "object",
            "properties": {
              "modelProvider": {
                "$ref": "#/components/schemas/ModelProvider"
              }
            }
          }
        },
        "required": [
          "requests",
          "targetLocale",
          "sourceLocale",
          "metadata"
        ]
      },
      "RuntimeFileFormat": {
        "type": "string",
        "enum": [
          "MD",
          "MDX"
        ]
      },
      "ProjectApiKeyPermission": {
        "type": "string",
        "enum": [
          "project:write",
          "project:context:read",
          "project:context:write",
          "project:files:read",
          "project:files:write",
          "project:translations:generate",
          "project:translations:enqueue"
        ]
      },
      "ContextGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v2/project/info/{projectId}": {
      "get": {
        "operationId": "getProjectInfo",
        "summary": "Get Project information",
        "description": "Get a project's ID, name, Organization, locales, and auto-approval setting. No permission is needed beyond access to the project.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Project information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "defaultLocale": {
                      "type": "string"
                    },
                    "currentLocales": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "autoApprove": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "orgId",
                    "defaultLocale",
                    "currentLocales",
                    "autoApprove"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/project-info"
      },
      "post": {
        "operationId": "updateProjectInfo",
        "summary": "Update Project information",
        "description": "Update a project's default locale or CDN delivery setting. Requires `project:write`. Omitted settings remain unchanged.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "defaultLocale": {
                    "type": "string"
                  },
                  "cdnEnabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/update-project"
      }
    },
    "/v2/project/translations/files/status/{fileId}": {
      "get": {
        "operationId": "getTranslationStatus",
        "summary": "Get translation status for a file",
        "description": "Return translation progress and availability by locale for one source file, along with its source metadata.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "fileId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "versionId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "branchId",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locale": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "approvedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "publishedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "locale",
                          "completedAt",
                          "approvedAt",
                          "publishedAt",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "sourceFile": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "branchId": {
                          "type": "string"
                        },
                        "fileId": {
                          "type": "string"
                        },
                        "versionId": {
                          "type": "string"
                        },
                        "fileName": {
                          "type": "string"
                        },
                        "sourceLocale": {
                          "type": "string"
                        },
                        "fileFormat": {
                          "$ref": "#/components/schemas/FileFormat"
                        },
                        "dataFormat": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "locales": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "branchId",
                        "fileId",
                        "versionId",
                        "fileName",
                        "sourceLocale",
                        "fileFormat",
                        "dataFormat",
                        "createdAt",
                        "updatedAt",
                        "locales"
                      ]
                    }
                  },
                  "required": [
                    "translations",
                    "sourceFile"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/translation-status"
      }
    },
    "/v2/project/branches/info": {
      "post": {
        "operationId": "getBranchInfo",
        "summary": "Get branch information",
        "description": "Return the Project's default branch and any branches requested by name.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Branch"
                      }
                    },
                    "defaultBranch": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Branch"
                        },
                        {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "branches",
                    "defaultBranch"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/branch-info"
      }
    },
    "/v2/project/branches/create": {
      "post": {
        "operationId": "createBranch",
        "summary": "Create a branch",
        "description": "Create a new branch, or rename and confirm the default branch.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "defaultBranch": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "branchName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created or existing branch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branch": {
                      "$ref": "#/components/schemas/Branch"
                    }
                  },
                  "required": [
                    "branch"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/create-branch"
      }
    },
    "/v2/project/tags/create": {
      "post": {
        "operationId": "createTag",
        "summary": "Create or update a tag",
        "description": "Create or update a tag for a set of file versions.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId",
                        "branchId"
                      ]
                    },
                    "minItems": 1
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": [
                  "tagId",
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created or updated file tag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "tagId": {
                          "type": "string"
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "tagId",
                        "message",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "tag"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/upsert-tag"
      }
    },
    "/v2/project/assets": {
      "post": {
        "operationId": "uploadAssets",
        "summary": "Upload Project assets",
        "description": "Upload OpenType or TrueType fonts for Lottie translations across your Organization. Uploading the same font family, weight, and italic style replaces the existing font. You can safely retry the full upload after a `500` response.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "assetType": {
                          "type": "string",
                          "enum": [
                            "FONT"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255,
                          "pattern": "\\.([tT][tT][fF]|[oO][tT][fF])$"
                        },
                        "family": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "style": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "assetType",
                        "content",
                        "fileName"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 50
                  }
                },
                "required": [
                  "assets"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "assetKey": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "assetKey",
                          "fileName"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "assets",
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "x-docs-slug": "project/upload-assets"
      }
    },
    "/v2/project/files/diffs": {
      "post": {
        "operationId": "submitUserEditDiffs",
        "summary": "Submit translation diffs",
        "description": "Overwrite translations with user-provided localized content.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "diffs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "locale": {
                          "type": "string",
                          "minLength": 1
                        },
                        "diff": {
                          "type": "string"
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "localContent": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locale",
                        "diff",
                        "versionId",
                        "fileId",
                        "localContent"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "diffs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed user translation edits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filesProcessed": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "entriesReceived": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "filesProcessed",
                    "entriesReceived",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/submit-diffs"
      }
    },
    "/v2/project/files/moves": {
      "post": {
        "operationId": "processFileMoves",
        "summary": "Move or rename files",
        "description": "Clone source files and their translations under new file IDs.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchId": {
                    "type": "string"
                  },
                  "moves": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "oldFileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "newFileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "newFileName": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "oldFileId",
                        "newFileId",
                        "newFileName"
                      ]
                    }
                  }
                },
                "required": [
                  "moves"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File move results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "oldFileId": {
                            "type": "string"
                          },
                          "newFileId": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "newSourceFileId": {
                            "type": "string"
                          },
                          "clonedTranslationsCount": {
                            "type": "integer"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "oldFileId",
                          "newFileId",
                          "success"
                        ]
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "succeeded": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "failed": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "total",
                        "succeeded",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/move-files"
      }
    },
    "/v2/project/files/orphaned": {
      "post": {
        "operationId": "getOrphanedFiles",
        "summary": "Find orphaned files",
        "description": "Return files on a branch that are not present in the provided file ID list.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branchId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  }
                },
                "required": [
                  "branchId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files present on the branch but absent from the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orphanedFiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fileId",
                          "versionId",
                          "fileName"
                        ]
                      }
                    }
                  },
                  "required": [
                    "orphanedFiles"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/orphaned-files"
      }
    },
    "/v2/project/files/info": {
      "post": {
        "operationId": "getFileInfo",
        "summary": "Get file metadata",
        "description": "Get detailed metadata for specific source and translated files.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceFiles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId",
                        "branchId"
                      ]
                    }
                  },
                  "translatedFiles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "versionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "branchId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "locale": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "fileId",
                        "versionId",
                        "branchId",
                        "locale"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sourceFiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "fileFormat": {
                            "$ref": "#/components/schemas/FileFormat"
                          },
                          "dataFormat": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "publishedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "locales": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sourceLocale": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "branchId",
                          "fileId",
                          "versionId",
                          "fileName",
                          "fileFormat",
                          "dataFormat",
                          "createdAt",
                          "updatedAt",
                          "publishedAt",
                          "locales",
                          "sourceLocale"
                        ]
                      }
                    },
                    "translatedFiles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "fileFormat": {
                            "$ref": "#/components/schemas/FileFormat"
                          },
                          "dataFormat": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "approvedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "publishedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "completedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "locale": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "branchId",
                          "fileId",
                          "versionId",
                          "fileFormat",
                          "dataFormat",
                          "createdAt",
                          "updatedAt",
                          "approvedAt",
                          "publishedAt",
                          "completedAt",
                          "locale"
                        ]
                      }
                    }
                  },
                  "required": [
                    "sourceFiles",
                    "translatedFiles"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/file-info"
      }
    },
    "/v2/project/files/download": {
      "post": {
        "operationId": "downloadFiles",
        "summary": "Download multiple files",
        "description": "Download up to 100 source or translated files in one request.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "branchId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "versionId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "locale": {
                      "type": "string",
                      "minLength": 1
                    },
                    "useLatestAvailableVersion": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "fileId"
                  ]
                },
                "minItems": 1,
                "maxItems": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Downloaded files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "metadata": {
                            "$ref": "#/components/schemas/JsonObject"
                          },
                          "fileFormat": {
                            "$ref": "#/components/schemas/FileFormat"
                          }
                        },
                        "required": [
                          "id",
                          "branchId",
                          "fileId",
                          "versionId",
                          "data",
                          "metadata",
                          "fileFormat"
                        ]
                      }
                    },
                    "count": {
                      "type": "number"
                    },
                    "pending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "branchId",
                          "fileId",
                          "locale",
                          "versionId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "files",
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ],
        "x-docs-slug": "files/download-many"
      }
    },
    "/v2/project/files/download/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download a single file",
        "deprecated": true,
        "description": "Download a single source or translated file. This deprecated endpoint is retained for backward compatibility; new integrations should use `POST /v2/project/files/download`.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "fileId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "branchId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "versionId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "locale",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ApiVersion"
            },
            "required": false,
            "description": "API contract version. Defaults to the oldest supported version.",
            "name": "gt-api-version",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project."
            },
            "required": false,
            "description": "Target project ID when no project ID is present in the path. Project API keys default to their bound project. If supplied, the header must match both the path target and the key’s bound project.",
            "name": "gt-project-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "425": {
            "description": "Request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/html": {
[...]
