openapi: 3.1.0
info:
  title: General Translation API
  version: '2026-03-06.v1'
  description: >
    The public General Translation API. Use it to upload source content and
    translated files, download translations, queue and translate content, create
    projects, manage branches and tags, and read project and job status.


    Most endpoints operate on a single project. All endpoints live under
    `https://api.gtx.dev`.


    Authenticate every request with an API key as a bearer token in the standard
    `Authorization: Bearer <key>` header.
    Project keys (`gtx-api-`, `gtx-dev-`) are bound to one project. Organization
    keys (`gtx-org-`) work across projects but must include the target project in
    the `gt-project-id` header for project-scoped routes. Organization-scoped
    routes, such as `POST /v2/projects`, derive the organization from the key and
    do not use a `gt-project-id` header.
  contact:
    name: General Translation Support
    email: support@generaltranslation.com
    url: https://generaltranslation.com
servers:
  - url: https://api.gtx.dev
    description: General Translation API
security:
  - Bearer: []
tags:
  - name: Files
    description: Upload, download, publish, move, and inspect project files.
  - name: Translation
    description: Translate content at runtime and queue files for translation.
  - name: Context
    description: Generate translation context such as glossaries and instructions.
  - name: Branches
    description: Read and create project branches.
  - name: Tags
    description: Tag file versions.
  - name: Project
    description: Create projects and read or update project information.
  - name: Jobs
    description: Read background job status.
  - name: CLI Wizard
    description: Create and poll unauthenticated CLI sign-in sessions.

paths:
  /v2/project/files/upload-files:
    post:
      tags: [Files]
      summary: Upload source files
      description: Upload one or more source files to the project. Max 100 files per request.
      operationId: uploadSourceFiles
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [source]
                    properties:
                      source:
                        $ref: '#/components/schemas/SourceFileInput'
                sourceLocale:
                  type: string
                  description: Overrides the project default source locale.
                  example: en
      responses:
        '201':
          description: Files uploaded.
          content:
            application/json:
              schema:
                type: object
                required: [uploadedFiles, count, message]
                properties:
                  uploadedFiles:
                    type: array
                    items:
                      type: object
                      required: [fileId, versionId, fileName, fileFormat]
                      properties:
                        branchId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        fileName: { type: string }
                        fileFormat: { $ref: '#/components/schemas/FileFormat' }
                        dataFormat: { type: string }
                  count: { type: integer }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /v2/project/files/upload-translations:
    post:
      tags: [Files]
      summary: Upload translated files
      description: Upload translated files linked to their source files. Max 100 files per request.
      operationId: uploadTranslations
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [source, translations]
                    properties:
                      source:
                        $ref: '#/components/schemas/SourceFileInput'
                      translations:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          required: [content, fileName, fileFormat, locale]
                          properties:
                            content:
                              type: string
                              description: Base64-encoded translated file content.
                            fileName: { type: string }
                            fileFormat: { $ref: '#/components/schemas/FileFormat' }
                            locale: { type: string }
                            dataFormat: { type: string }
                            transformFormat:
                              $ref: '#/components/schemas/FileFormat'
                              description: Output file format transformation.
                sourceLocale:
                  type: string
                  description: Overrides the project default source locale.
      responses:
        '201':
          description: Translations uploaded.
          content:
            application/json:
              schema:
                type: object
                required: [uploadedFiles, count, message]
                properties:
                  uploadedFiles:
                    type: array
                    items:
                      type: object
                      required: [fileId, versionId, fileName, fileFormat]
                      properties:
                        branchId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        fileName: { type: string }
                        locale: { type: string }
                        fileFormat: { $ref: '#/components/schemas/FileFormat' }
                        dataFormat: { type: string }
                  count: { type: integer }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /v2/project/files/diffs:
    post:
      tags: [Files]
      summary: Submit translation diffs
      description: Overwrite translations with user-provided localized content.
      operationId: submitUserEditDiffs
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [diffs]
              properties:
                projectId:
                  type: string
                  description: Ignored. The project ID comes from the authenticated API key.
                diffs:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [locale, diff, versionId, fileId, localContent]
                    properties:
                      locale: { type: string }
                      diff: { type: string, description: Diff content. }
                      branchId: { type: string }
                      versionId: { type: string }
                      fileId: { type: string }
                      localContent:
                        type: string
                        description: Localized file content that overwrites the stored translation.
      responses:
        '200':
          description: Diffs processed.
          content:
            application/json:
              schema:
                type: object
                required: [filesProcessed, entriesReceived, message]
                properties:
                  filesProcessed: { type: integer }
                  entriesReceived: { type: integer }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/setup/should-generate:
    get:
      tags: [Context]
      summary: Check if context generation is needed
      description: >
        Check whether the Project needs translation context generated. This
        deprecated endpoint is retained for backward compatibility and is no
        longer called by current clients.
      deprecated: true
      operationId: shouldGenerateProjectContext
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      responses:
        '200':
          description: Whether context generation is recommended.
          content:
            application/json:
              schema:
                type: object
                required: [shouldSetupProject]
                properties:
                  shouldSetupProject: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/setup/generate:
    post:
      tags: [Context]
      summary: Generate translation context
      description: Generate glossaries and translation instructions for the project.
      operationId: generateProjectContext
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [fileId, versionId]
                    properties:
                      branchId: { type: string }
                      fileId: { type: string }
                      versionId: { type: string }
                locales:
                  type: array
                  items: { type: string }
                  description: Target locales for glossary generation.
                force:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Context generation queued or completed.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [queued, completed]
                  setupJobId:
                    type: string
                    description: Present and required when status is queued.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/setup/status/{jobId}:
    get:
      tags: [Context]
      summary: Get context generation job status
      description: >
        Track a context generation job. This deprecated endpoint is retained
        for backward compatibility; new integrations should use
        `POST /v2/project/jobs/info`.
      deprecated: true
      operationId: getProjectContextGenerationStatus
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
        - name: jobId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Context job status.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [queued, processing, completed, failed, unknown]
                  jobId:
                    type: string
                    description: Present and required unless status is completed.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/translations/enqueue:
    post:
      tags: [Translation]
      summary: Queue files for translation
      description: >
        Enqueue uploaded source files for background translation. Max 100 files
        per request. The response shape depends on the requested `gt-api-version`.
      operationId: enqueueFileTranslations
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [fileId, versionId]
                    properties:
                      branchId: { type: string }
                      fileId: { type: string }
                      versionId: { type: string }
                      fileName: { type: string }
                      transformFormat: { $ref: '#/components/schemas/FileFormat' }
                targetLocales:
                  type: array
                  items: { type: string }
                sourceLocale: { type: string }
                force:
                  type: boolean
                  default: false
                modelProvider:
                  type: string
                  enum: [ANTHROPIC, OPENAI, XAI, GOOGLE]
                  description: AI model provider override.
                publish:
                  type: boolean
                  description: Publish translations once complete.
      responses:
        '200':
          description: Files queued.
          content:
            application/json:
              schema:
                type: object
                description: >
                  API version 2025-11-03.v1 and later returns `jobData`.
                  Earlier versions return `translations` and `data`.
                required: [locales, message]
                properties:
                  jobData:
                    type: object
                    description: Map of job ID to translation job details in current API versions.
                    additionalProperties:
                      type: object
                      required: [sourceFileId, fileId, versionId, branchId, targetLocale, projectId, force]
                      properties:
                        kind:
                          type: string
                          enum: [file_translation]
                        sourceFileId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        branchId: { type: string }
                        targetLocale: { type: string }
                        projectId: { type: string }
                        force: { type: boolean }
                        outputFileFormat: { $ref: '#/components/schemas/FileFormat' }
                        modelProvider:
                          type: string
                          enum: [ANTHROPIC, OPENAI, XAI, GOOGLE]
                        glossaryRetranslate: { type: boolean }
                        changedGlossaryTerms:
                          type: array
                          items: { type: string }
                        onComplete:
                          type: object
                          required: [kind]
                          properties:
                            kind:
                              type: string
                              enum: [google_drive_apply]
                            userId: { type: string }
                  translations:
                    type: array
                    description: Completed translations returned by legacy API versions.
                    items:
                      type: object
                      required: [locale, metadata, fileId, fileName, versionId, branchId, id, isReady, downloadUrl]
                      properties:
                        locale: { type: string }
                        metadata:
                          description: Translation metadata.
                        fileId: { type: string }
                        fileName: { type: string }
                        versionId: { type: string }
                        branchId: { type: string }
                        id: { type: string }
                        isReady: { type: boolean }
                        downloadUrl: { type: string }
                  data:
                    type: object
                    description: File metadata returned by legacy API versions.
                    additionalProperties:
                      type: object
                      required: [fileName, versionId]
                      properties:
                        fileName: { type: string }
                        versionId: { type: string }
                  locales:
                    type: array
                    items: { type: string }
                  message: { type: string }
        '400':
          description: Bad request, including missing source files.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string }
                  missing:
                    type: array
                    items:
                      type: object
                      required: [fileId, versionId]
                      properties:
                        fileId: { type: string }
                        versionId: { type: string }
                  count: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/publish:
    post:
      tags: [Files]
      summary: Publish or unpublish files
      description: Publish or unpublish translated files to the CDN. Requires CDN to be enabled.
      operationId: publishFiles
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [files]
              properties:
                files:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [fileId, versionId, publish]
                    properties:
                      fileId: { type: string }
                      versionId: { type: string }
                      branchId: { type: string }
                      publish:
                        type: boolean
                        description: True to publish, false to unpublish.
      responses:
        '200':
          description: Publish results per file.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [fileId, versionId, branchId, success]
                      properties:
                        fileId: { type: string }
                        versionId: { type: string }
                        locale: { type: string }
                        branchId: { type: string }
                        success: { type: boolean }
                        error: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/download/{fileId}:
    get:
      tags: [Files]
      summary: Download a single file
      deprecated: true
      description: >
        Download a single source or translated file. This deprecated endpoint
        is retained for backward compatibility; new integrations should use
        `POST /v2/project/files/download`.
      operationId: downloadFile
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
        - name: fileId
          in: path
          required: true
          schema: { type: string }
        - name: versionId
          in: query
          schema: { type: string }
          description: Defaults to the branch head version.
        - name: branchId
          in: query
          schema: { type: string }
          description: Defaults to the default branch.
        - name: locale
          in: query
          schema: { type: string }
          description: Translation locale. Omit to download the source file.
      responses:
        '200':
          description: File content.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: string
                    description: Base64-encoded file content.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '425':
          description: The translated file is still processing.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: string
                    enum: [processing]
                  message: { type: string }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/download:
    post:
      tags: [Files]
      summary: Download multiple files
      description: Download up to 100 source or translated files in one request.
      operationId: downloadFiles
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              maxItems: 100
              items:
                type: object
                required: [fileId]
                properties:
                  fileId: { type: string }
                  branchId: { type: string }
                  versionId: { type: string }
                  locale:
                    type: string
                    description: Translation locale. Omit for the source file.
                  useLatestAvailableVersion: { type: boolean }
      responses:
        '200':
          description: Downloaded files.
          content:
            application/json:
              schema:
                type: object
                required: [files, count]
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      required: [id, branchId, fileId, versionId, data, metadata, fileFormat]
                      properties:
                        id: { type: string }
                        branchId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        fileName: { type: string }
                        data:
                          type: string
                          description: Base64-encoded content.
                        metadata:
                          type: object
                          additionalProperties: true
                        fileFormat: { $ref: '#/components/schemas/FileFormat' }
                        locale: { type: string }
                  count: { type: integer }
                  pending:
                    type: array
                    description: Translated files still processing. Retry these entries.
                    items:
                      type: object
                      required: [branchId, fileId, locale, versionId]
                      properties:
                        branchId: { type: string }
                        fileId: { type: string }
                        locale: { type: string }
                        versionId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/branches/info:
    post:
      tags: [Branches]
      summary: Get branch information
      description: >
        Return the Project's default branch and any branches requested by name.
      operationId: getBranchInfo
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                branchNames:
                  type: array
                  default: []
                  items: { type: string }
      responses:
        '200':
          description: Branch information.
          content:
            application/json:
              schema:
                type: object
                required: [branches, defaultBranch]
                properties:
                  branches:
                    type: array
                    items:
                      $ref: '#/components/schemas/Branch'
                  defaultBranch:
                    type: [object, 'null']
                    required: [id, name]
                    properties:
                      id: { type: string }
                      name: { type: string }
                    description: The default branch, or null if none is set.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/branches/create:
    post:
      tags: [Branches]
      summary: Create a branch
      description: Create a new branch, or rename and confirm the default branch.
      operationId: createBranch
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branchName]
              properties:
                branchName:
                  type: string
                  minLength: 1
                defaultBranch:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Created branch.
          content:
            application/json:
              schema:
                type: object
                required: [branch]
                properties:
                  branch:
                    $ref: '#/components/schemas/Branch'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/tags/create:
    post:
      tags: [Tags]
      summary: Create or update a tag
      description: Create or upsert a tag that points at a set of file versions.
      operationId: createTag
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tagId, files]
              properties:
                tagId:
                  type: string
                  minLength: 1
                  maxLength: 255
                files:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [fileId, versionId, branchId]
                    properties:
                      fileId: { type: string, minLength: 1 }
                      versionId: { type: string, minLength: 1 }
                      branchId: { type: string, minLength: 1 }
                message:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: Created or updated tag.
          content:
            application/json:
              schema:
                type: object
                required: [tag]
                properties:
                  tag:
                    type: object
                    required: [id, tagId, message, createdAt, updatedAt]
                    properties:
                      id: { type: string }
                      tagId: { type: string }
                      message: { type: [string, 'null'] }
                      createdAt: { type: string, format: date-time }
                      updatedAt: { type: string, format: date-time }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/projects:
    post:
      tags: [Project]
      summary: Create a Project
      description: >
        Create a Project in the Organization associated with an Organization API
        key. The key must have the `org:projects:create` permission. Project keys
        cannot use this endpoint. Enabling CDN delivery also requires
        `project:write`.
      operationId: createProject
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, defaultLocale]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: >
                    Project name. Supports letters, numbers, spaces, dashes,
                    underscores, apostrophes, parentheses, and periods.
                  example: Customer Portal
                defaultLocale:
                  type: string
                  description: Source locale for the project.
                  example: en-US
                cdnEnabled:
                  type: boolean
                  default: false
                  description: Enable CDN delivery for the new project.
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                type: object
                required: [project]
                properties:
                  project:
                    type: object
                    required: [id, name, orgId, defaultLocale]
                    properties:
                      id: { type: string, example: prj_abc123 }
                      name: { type: string, example: Customer Portal }
                      orgId: { type: string, example: org_abc123 }
                      defaultLocale: { type: string, example: en-US }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Missing, invalid, or non-organization API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >
            The API key lacks `org:projects:create` or is blocked by an access
            policy, or `cdnEnabled` is true and the key lacks `project:write`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '409':
          description: The organization has reached its project limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429': { $ref: '#/components/responses/RateLimited' }
        '500':
          description: The project could not be created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v2/project/assets:
    post:
      tags: [Project]
      summary: Upload Project assets
      description: >
        Upload OpenType or TrueType fonts through a Project and make them
        available to Lottie translation workflows across its Organization.
        Each font is keyed by a normalized identity derived from its family,
        weight, and italic style (from the supplied `family` and `style`, or
        from the font metadata and file name). Re-uploading the same identity
        overwrites the existing asset, so complete retries after a `500`
        response are safe.
      operationId: uploadAssets
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assets]
              properties:
                assets:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    required: [assetType, content, fileName]
                    properties:
                      assetType:
                        type: string
                        enum: [FONT]
                        description: Asset type. Only `FONT` is supported.
                      content:
                        type: string
                        description: >
                          Base64-encoded font content, up to 20MB after
                          decoding.
                      fileName:
                        type: string
                        minLength: 1
                        maxLength: 255
                        description: >
                          Font file name ending in `.ttf` or `.otf`.
                        example: BrandSans.ttf
                      family:
                        type: string
                        minLength: 1
                        maxLength: 255
                        description: >
                          Font family name used by the Lottie file. When
                          omitted, the server derives it from the font
                          metadata or file name.
                        example: Brand Sans
                      style:
                        type: string
                        minLength: 1
                        maxLength: 100
                        description: >
                          Style or weight used with `family`, such as `Bold`,
                          `350`, or `Bold Italic`. Defaults to Regular (`400`)
                          when `family` is set.
                        example: Bold
      responses:
        '201':
          description: Uploaded font assets.
          content:
            application/json:
              schema:
                type: object
                required: [assets, count]
                properties:
                  assets:
                    type: array
                    items:
                      type: object
                      required: [id, assetKey, fileName]
                      properties:
                        id:
                          type: string
                          description: Stored organization asset ID.
                          example: asset_abc123
                        assetKey:
                          type: string
                          description: >
                            Normalized identity in the form
                            `<family>-<weight>[-i]`.
                          example: brandsans-700
                        fileName: { type: string, example: BrandSans.ttf }
                  count:
                    type: integer
                    minimum: 0
                    description: Number of uploaded assets.
                    example: 1
        '400':
          description: >
            Invalid request body, invalid base64, an empty asset, an
            unsupported file extension, an asset larger than 20MB, or a font
            family that cannot be determined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413':
          description: The JSON request body exceeds 100MB.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429': { $ref: '#/components/responses/RateLimited' }
        '500':
          description: >
            An asset could not be stored. Retry the complete request; each
            font identity is upserted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v2/project/info/{projectId}:
    get:
      tags: [Project]
      summary: Get Project information
      description: >
        Read the authenticated Project's name, Organization ID, locale settings,
        and auto-approval setting.
      operationId: getProjectInfo
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
        - name: projectId
          in: path
          required: true
          schema: { type: string }
          description: Must match the authenticated project.
      responses:
        '200':
          description: Project information.
          content:
            application/json:
              schema:
                type: object
                required: [id, name, orgId, defaultLocale, currentLocales, autoApprove]
                properties:
                  id: { type: string }
                  name: { type: string }
                  orgId: { type: string }
                  defaultLocale: { type: [string, 'null'] }
                  currentLocales:
                    type: array
                    items: { type: string }
                  autoApprove: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    post:
      tags: [Project]
      summary: Update Project information
      description: Update the Project's default locale or CDN delivery setting.
      operationId: updateProjectInfo
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
        - name: projectId
          in: path
          required: true
          schema: { type: string }
          description: Must match the authenticated project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultLocale: { type: string }
                cdnEnabled:
                  type: boolean
                  description: Enable or disable CDN delivery.
      responses:
        '200':
          description: Project updated.
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success:
                    type: boolean
                    enum: [true]
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/jobs/info:
    post:
      tags: [Jobs]
      summary: Get translation job status
      description: >
        Return normalized status information for one or more queued translation
        or context generation jobs.
      operationId: getTranslationJobInfo
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jobIds]
              properties:
                jobIds:
                  type: array
                  minItems: 1
                  items: { type: string, minLength: 1 }
      responses:
        '200':
          description: Job status for each requested job.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [status, jobId]
                  properties:
                    status:
                      type: string
                      enum: [queued, processing, completed, failed, unknown]
                    jobId: { type: string }
                    error:
                      type: object
                      description: Present and required when status is failed.
                      required: [message]
                      properties:
                        message: { type: [string, 'null'] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/info:
    post:
      tags: [Files]
      summary: Get file metadata
      description: Get detailed metadata for specific source and translated files.
      operationId: getFileInfo
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceFiles:
                  type: array
                  items:
                    type: object
                    required: [fileId, versionId, branchId]
                    properties:
                      fileId: { type: string }
                      versionId: { type: string }
                      branchId: { type: string }
                translatedFiles:
                  type: array
                  items:
                    type: object
                    required: [fileId, versionId, branchId, locale]
                    properties:
                      fileId: { type: string }
                      versionId: { type: string }
                      branchId: { type: string }
                      locale: { type: string }
      responses:
        '200':
          description: File metadata.
          content:
            application/json:
              schema:
                type: object
                required: [sourceFiles, translatedFiles]
                properties:
                  sourceFiles:
                    type: array
                    items:
                      type: object
                      required: [branchId, fileId, versionId, fileName, fileFormat, dataFormat, createdAt, updatedAt, publishedAt, locales, sourceLocale]
                      properties:
                        branchId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        fileName: { type: string }
                        fileFormat: { $ref: '#/components/schemas/FileFormat' }
                        dataFormat: { type: [string, 'null'] }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
                        publishedAt:
                          type: [string, 'null']
                          format: date-time
                        locales:
                          type: array
                          items: { type: string }
                        sourceLocale: { type: string }
                  translatedFiles:
                    type: array
                    items:
                      type: object
                      required: [branchId, fileId, versionId, fileFormat, dataFormat, createdAt, updatedAt, approvedAt, publishedAt, completedAt, locale]
                      properties:
                        branchId: { type: string }
                        fileId: { type: string }
                        versionId: { type: string }
                        fileFormat: { $ref: '#/components/schemas/FileFormat' }
                        dataFormat: { type: [string, 'null'] }
                        createdAt: { type: string, format: date-time }
                        updatedAt: { type: string, format: date-time }
                        approvedAt:
                          type: [string, 'null']
                          format: date-time
                        publishedAt:
                          type: [string, 'null']
                          format: date-time
                        completedAt:
                          type: [string, 'null']
                          format: date-time
                        locale: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/translations/files/status/{fileId}:
    get:
      tags: [Files]
      summary: Get translation status for a file
      description: >
        Return translation progress and availability by locale for one source
        file, along with its source metadata.
      operationId: getTranslationStatus
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
        - name: fileId
          in: path
          required: true
          schema: { type: string }
        - name: versionId
          in: query
          schema: { type: string }
          description: Defaults to the branch head version.
        - name: branchId
          in: query
          schema: { type: string }
          description: Defaults to the default branch.
      responses:
        '200':
          description: Translation status for the file.
          content:
            application/json:
              schema:
                type: object
                required: [translations, sourceFile]
                properties:
                  translations:
                    type: array
                    items:
                      type: object
                      required: [locale, completedAt, approvedAt, publishedAt, createdAt, updatedAt]
                      properties:
                        locale: { type: string }
                        completedAt:
                          type: [string, 'null']
                          format: date-time
                        approvedAt:
                          type: [string, 'null']
                          format: date-time
                        publishedAt:
                          type: [string, 'null']
                          format: date-time
                        createdAt:
                          type: [string, 'null']
                          format: date-time
                        updatedAt:
                          type: [string, 'null']
                          format: date-time
                  sourceFile:
                    type: object
                    required: [id, branchId, fileId, versionId, fileName, sourceLocale, fileFormat, dataFormat, createdAt, updatedAt, locales]
                    properties:
                      id: { type: string }
                      branchId: { type: string }
                      fileId: { type: string }
                      versionId: { type: string }
                      fileName: { type: string }
                      sourceLocale: { type: string }
                      fileFormat: { $ref: '#/components/schemas/FileFormat' }
                      dataFormat: { type: [string, 'null'] }
                      createdAt: { type: string, format: date-time }
                      updatedAt: { type: string, format: date-time }
                      locales:
                        type: array
                        items: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/moves:
    post:
      tags: [Files]
      summary: Move or rename files
      description: Clone source files and their translations under new file IDs.
      operationId: processFileMoves
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [moves]
              properties:
                branchId:
                  type: string
                  description: Defaults to the default branch.
                moves:
                  type: array
                  items:
                    type: object
                    required: [oldFileId, newFileId, newFileName]
                    properties:
                      oldFileId: { type: string, minLength: 1 }
                      newFileId: { type: string, minLength: 1 }
                      newFileName: { type: string, minLength: 1 }
      responses:
        '200':
          description: Move results.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [oldFileId, newFileId, success]
                      properties:
                        oldFileId: { type: string }
                        newFileId: { type: string }
                        success: { type: boolean }
                        newSourceFileId: { type: string }
                        clonedTranslationsCount:
                          type: integer
                        error: { type: string }
                  summary:
                    type: object
                    required: [total, succeeded, failed]
                    properties:
                      total: { type: integer, minimum: 0 }
                      succeeded: { type: integer, minimum: 0 }
                      failed: { type: integer, minimum: 0 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/project/files/orphaned:
    post:
      tags: [Files]
      summary: Find orphaned files
      description: Return files on a branch that are not present in the provided file ID list.
      operationId: getOrphanedFiles
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branchId]
              properties:
                branchId: { type: string }
                fileIds:
                  type: array
                  default: []
                  items: { type: string }
      responses:
        '200':
          description: Orphaned files.
          content:
            application/json:
              schema:
                type: object
                required: [orphanedFiles]
                properties:
                  orphanedFiles:
                    type: array
                    items:
                      type: object
                      required: [fileId, versionId, fileName]
                      properties:
                        fileId: { type: string }
                        versionId: { type: string }
                        fileName: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/translate:
    post:
      tags: [Translation]
      summary: Translate content at runtime
      description: >
        Translate one or more strings or structured content entries with caching
        and memoization. Requires an API key with
        `project:translations:generate`; development keys are accepted.
      operationId: translate
      security:
        - Bearer: []
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - $ref: '#/components/parameters/GtProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [requests, targetLocale, sourceLocale, metadata]
              properties:
                requests:
                  type: object
                  minProperties: 1
                  description: Map of request key to a translation request entry.
                  additionalProperties:
                    type: object
                    required: [source]
                    properties:
                      source:
                        description: String, JSX, ICU, or i18next content to translate.
                      metadata:
                        type: object
                        properties:
                          id: { type: string }
                          hash: { type: string }
                          context: { type: string }
                          maxChars:
                            type: number
                            description: >
                              Requested maximum translation length. Only positive
                              integers apply a character limit; other numeric
                              values are ignored.
                          dataFormat:
                            type: string
                            enum: [STRING, JSX, ICU, I18NEXT]
                            default: STRING
                          actionType:
                            type: string
                            default: fast
                          sourceCode:
                            type: object
                            additionalProperties:
                              type: array
                              maxItems: 5
                              items:
                                type: object
                                required: [before, target, after]
                                properties:
                                  before:
                                    type: string
                                    description: Truncated to 2,000 characters before translation.
                                  target:
                                    type: string
                                    description: Truncated to 500 characters before translation.
                                  after:
                                    type: string
                                    description: Truncated to 2,000 characters before translation.
                targetLocale:
                  type: string
                  minLength: 1
                sourceLocale:
                  type: string
                  minLength: 1
                metadata:
                  type: object
                  properties:
                    modelProvider:
                      type: string
                      enum: [ANTHROPIC, OPENAI, XAI, GOOGLE]
      responses:
        '200':
          description: Cached or partially completed translation results, keyed by request key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeTranslationResponse'
        '201':
          description: Translation results, keyed by request key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeTranslationResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /cli/wizard/session:
    post:
      tags: [CLI Wizard]
      summary: Create a CLI wizard session
      description: >
        Create an unauthenticated sign-in session for the CLI. Limited to 60
        requests per minute.
      operationId: createCliWizardSession
      security: []
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyType:
                  type: string
                  enum: [development, production, all]
                  default: production
      responses:
        '200':
          description: CLI wizard session created.
          content:
            application/json:
              schema:
                type: object
                required: [sessionId]
                properties:
                  sessionId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /cli/wizard/{sessionId}:
    get:
      tags: [CLI Wizard]
      summary: Get a CLI wizard session
      description: >
        Return credentials when sign-in completes, or a waiting response while
        the session is pending. Version 2026-03-06.v1 returns `apiKeys`; earlier
        versions return `apiKey`. Limited to 60 requests per minute.
      operationId: getCliWizardSession
      security: []
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: CLI wizard session credentials.
          content:
            application/json:
              schema:
                type: object
                required: [projectId]
                properties:
                  apiKey:
                    type: string
                    description: Returned by API versions before 2026-03-06.v1.
                  apiKeys:
                    type: array
                    description: Returned by API version 2026-03-06.v1 and later.
                    items:
                      type: object
                      required: [key, type]
                      properties:
                        key: { type: string }
                        type:
                          type: string
                          enum: [development, production]
                  projectId: { type: string }
        '202':
          description: CLI wizard session is waiting for sign-in.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    delete:
      tags: [CLI Wizard]
      summary: Delete a CLI wizard session
      description: Delete an unauthenticated CLI sign-in session.
      operationId: deleteCliWizardSession
      security: []
      parameters:
        - $ref: '#/components/parameters/GtApiVersion'
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: CLI wizard session deleted.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalServerError' }

components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: >
        API key sent as a bearer token in the standard `Authorization: Bearer
        <key>` header. Use a project key (`gtx-api-`, `gtx-dev-`) or an
        organization key (`gtx-org-`). Organization keys must also send
        `gt-project-id` on project-scoped routes. Organization-scoped routes
        derive the organization from the key and do not use `gt-project-id`.

  parameters:
    GtApiVersion:
      name: gt-api-version
      in: header
      required: false
      description: >
        API version. Defaults to the earliest supported version. Latest is
        `2026-03-06.v1`.
      schema:
        type: string
        enum:
          - '2025-01-01.v0'
          - '2025-11-03.v1'
          - '2026-02-18.v1'
          - '2026-03-06.v1'
    GtProjectId:
      name: gt-project-id
      in: header
      required: false
      description: Target project ID. Required when authenticating with an organization API key.
      schema:
        type: string

  schemas:
    FileFormat:
      type: string
      description: Supported file format. Request values are case-insensitive.
      enum:
        - GTJSON
        - MDX
        - JSON
        - YAML
        - MD
        - TS
        - JS
        - HTML
        - TXT
        - PO
        - POT
        - TWILIO_CONTENT_JSON
        - LOTTIE
        - SVG
    RuntimeTranslationResponse:
      type: object
      additionalProperties:
        type: object
        required: [success]
        properties:
          success: { type: boolean }
          translation:
            type: [string, object, array, number, boolean, 'null']
            description: Translated content in the requested data format.
          dataFormat:
            type: string
            enum: [JSX, ICU, I18NEXT, STRING]
          locale: { type: string }
          error: { type: string }
          code: { type: number }
    SourceFileInput:
      type: object
      required: [content, fileName, fileFormat, locale]
      properties:
        content:
          type: string
          description: Base64-encoded file content.
        fileName: { type: string }
        fileFormat:
          $ref: '#/components/schemas/FileFormat'
        dataFormat:
          type: string
          description: Data format, e.g. STRING, JSX, ICU.
        locale:
          type: string
          description: Source locale code.
        fileId:
          type: string
          description: Derived from the file name when omitted.
        versionId:
          type: string
          description: Derived from the content hash when omitted.
        branchId:
          type: string
          description: Defaults to the default branch.
        checkedOutBranchId: { type: string }
        incomingBranchId: { type: string }
        formatMetadata:
          type: object
          additionalProperties: true
    Branch:
      type: object
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message.
    PlainTextError:
      type: string
      description: Human-readable error message.

  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    Forbidden:
      description: The API key lacks the required permission, or the action is not allowed on the current plan.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    RateLimited:
      description: Rate limit or quota exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    PaymentRequired:
      description: Payment or quota validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    Conflict:
      description: The request conflicts with an existing resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    PayloadTooLarge:
      description: The request body exceeds the endpoint limit.
      content:
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    TooEarly:
      description: The requested translation is still processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    InternalServerError:
      description: The server could not complete the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
    ServiceUnavailable:
      description: The server is temporarily busy.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/PlainTextError'
